APP_ENV=development

DISCORD_APPLICATION_ID=YOUR_DISCORD_APPLICATION_ID
DISCORD_CLIENT_ID=YOUR_DISCORD_CLIENT_ID
DISCORD_REDIRECT_URI=discord-YOUR_DISCORD_APPLICATION_ID:/authorize/callback

DISCORD_RP_DEFAULT_LARGE_IMAGE_KEY=app_logo
DISCORD_RP_SMALL_PLAY_IMAGE_KEY=play_icon
DISCORD_RP_SMALL_PAUSE_IMAGE_KEY=pause_icon
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_UPLOAD_PRESET=YOUR_PRESET

ANDROID_PACKAGE_NAME=com.tunify.mobile
